<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" dir="ltr" lang="ru-ru" xml:lang="ru-ru">
<head>
	<!--META_TEGS-->
    <link href='http://fonts.googleapis.com/css?family=Istok+Web&subset=latin,cyrillic' rel='stylesheet' type='text/css'>
    <link type='text/css' rel='stylesheet' href='http://<!--SITE_NAME-->/include/default/css/style.css' />
	<script type='text/javascript' src='http://<!--SITE_NAME-->/include/default/js/jquery-1.2.6.js'></script>
	<script type='text/javascript' src='http://<!--SITE_NAME-->/ckeditor/ckeditor.js'></script>
	<script type='text/javascript' src='http://<!--SITE_NAME-->/include/default/js/script.js'></script>
    <title>
     	<!--TITLE-->
    </title>
</head>
<body>
	<div id='main'>
		<div id='header'>
			<!--HEADER-->
		</div>
		<div id='top_menu'>
			<!--TOP_MENU-->
		</div>
		<div id='cont'>
			<div id='left_menu'>
				<!--LEFT_MENU-->
			</div>
			<div id='content'>
                <!--BREADCRUMBS-->
                <!--CONTENT-->
            </div>
        </div>
        <div id='footer'>
            <!--FOOTER-->
        </div>
    </div>
</body>
</html>